<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find robot_maze_description)/urdf/maze_generate/inertial_macros.urdf.xacro" />

    <!-- Chassis constants -->
    <xacro:property name="chassis_length" value="0.2"/>
    <xacro:property name="chassis_width" value="0.1"/>
    <xacro:property name="chassis_height" value="0.0025"/>
    <xacro:property name="chassis_base_length" value="0.155"/>
    <xacro:property name="chassis_base_width" value="0.1"/>
    <xacro:property name="chassis_front_length" value="0.031"/>
    <xacro:property name="chassis_front_width" value="0.144"/>
    <xacro:property name="chassis_back_length" value="0.014"/>
    <xacro:property name="chassis_back_width" value="0.100"/>

    <xacro:property name="chassis_mass" value="0.1"/>

  <xacro:macro name="chassis" params="parent child xyz rpy color">

    <link name="${child}">
        <visual>
            <origin xyz="-${(chassis_length/2)} -${chassis_width/2} ${chassis_height}" rpy="${pi/2} 0 ${pi/2}"/>
            <geometry>
                <mesh filename="file://$(find robot_maze_description)/urdf/maze_generate/chassis-2WD.stl" scale= "1 1 1"/>
            </geometry>
            <material name="${color}"/>
        </visual>
        <collision>
            <origin xyz="${-(chassis_back_length)} 0 0"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassis_mass}" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}">
            <origin xyz="${-(chassis_back_length)} 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>

    </link>

    <joint name="${parent}_to_${child}_joint" type="fixed">
        <origin xyz="${xyz}" rpy="${rpy}" />
        <parent link="${parent}" />
        <child link="${child}" />
    </joint>   
     
    <gazebo reference="${child}">
        <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

</robot>