<?xml version="1.0"?>
<config>
  <window>
    <title>Minimal GUI</title>
    <width>1280</width>
    <height>720</height>
    <pos_x>100</pos_x>
    <pos_y>100</pos_y>
    <show_toolbar>true</show_toolbar>
    <show_menu_bar>true</show_menu_bar>
    <show_status_bar>false</show_status_bar>
  </window>
  <plugins>
    <plugin filename="libMinimalScene.so" name="3D View"/>
    <plugin filename="libWorldControl.so" name="World control"/>
    <plugin filename="libWorldStats.so" name="World stats"/>
  </plugins>
</config>